/*
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid;
  border-radius: 7px;
}

.error-message {
  margin-top: 5px;
  text-align: center;
  color: red;
}

.active-filter {
  background-color: #d3e50d;
}

.passive-filter {
  background-color: darkgray;
}

.is-done {
  opacity: 0.5;
}

.border-radius button, input, h3 {
  text-align: center;
  margin-inline: 5px;
  margin-top: 5px;
  border-radius: 7px;
}*/
